# Ignore all subfolders
final_models/*
!final_models/.gitkeep

fitting_models/*
!fitting_models/.gitkeep

residuals/*
!residuals/.gitkeep

spatialRR/*
!spatialRR/.gitkeep

# Ignore all files in outputs except subfolders
outputs/*
!outputs/.gitkeep
outputs/*/  # keep subfolders

outputs/fig5/*
!outputs/fig5/.gitkeep
!outputs/fig5/*/  # keep subfolders

outputs/supplementary/*
!outputs/supplementary/.gitkeep
!outputs/supplementary/*/  # keep subfolders

# Track data folder
!data/

# Ignore system files
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

