# Ignore all subfolders
final_models/*
!final_models/.gitkeep

fitting_models/*
!fitting_models/.gitkeep

residuals/*
!residuals/.gitkeep

spatialRR/*
!spatialRR/.gitkeep

outputs/*
!outputs/.gitkeep
outputs/*/

outputs/fig5/*
!outputs/fig5/*/
!outputs/fig5/.gitkeep

outputs/supplementary/*
!outputs/supplementary/*/
!outputs/supplementary/.gitkeep

# Keep data files
!data/

# Ignore system files
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
